<main>
  <div>
      <img class="img" *ngIf="showQuestionPhoto" src="question.gif"/>
      <img class="img" *ngIf="showYesPhoto" src="yes.gif"/>
      <img class="img" *ngIf="showNoPhoto" src="no.gif"/>
      <h2 style="text-align: center;">{{this.question}}</h2>
      <h3 *ngIf="showYesPhoto" style="text-align: center;">You. Me. 14th of Feb. 7pm. It's a date :)</h3>
      <h4 *ngIf="showYesPhoto" style="text-align: center;">P.S. Wear your white dress</h4>
      <div class="container">
        <div class="button-wrapper">
          <button mat-raised-button color="primary" *ngIf="showYesButton" (click)="handleYes()">Yes</button>
          <button mat-raised-button color="warn" *ngIf="showNoButton" (click)="handleNo()">{{noCount === 0 ? "No" : getNoButtonText()}}</button>
        </div>
      </div>
    
  </div>
</main>
<router-outlet />
